/*
 * Globals
 */

body {
    background: rgb(150, 83, 185);
    background: radial-gradient(circle, rgba(150, 83, 185, 1) 3%, rgba(45, 11, 62, 1) 93%);
}


/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/* ZAP Ad Glow */

.zapGlow {
    animation: imgGlow 1s infinite alternate;
}

@keyframes imgGlow {
    from {
        box-shadow: 0 0 8px 0px rgba(45, 11, 62, 1);
    }
    to {
        box-shadow: 0 0 8px 8px rgba(45, 11, 62, 1);
    }
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: center;
    }
    .nav-masthead {
        float: center;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/*
 * Footer
 */

.mastfoot {
    color: rgba(255, 255, 255, .5);
}
